<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="icon" href="img/favicon.png" type="image/x-icon" />
    <!-- CSS Section -->
    <!-- boostrap cdn -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">
        <!-- <h1>
            <%= title %>
        </h1> -->
        <div class="card text-center">
            <!-- this works because in config/express.js we are serving static files from ./public/ -->
            <img src="img/cencol_banner.jpeg" alt="Banner of Centennial College" class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    <h1>
                        <%= title %>
                    </h1>
                </p>
                <br>