<!-- 
 
    @file        index.ejs
    @description this component is used to display the home screen to the customer and login form
    @author      Kevin Ma
    @date        2018.03.13

  -->

<% include ./partials/header %>

    <!-- <form method="post"> -->
    <div class="row">
        <div class="col-6 offset-3">
            <h5>
                Welcome to the 2018 Games Survey of the Year!
            </h5>
            <p>Please click one of the links below to proceed:</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4 offset-4">
            <div class="btn-group d-flex">
                <a href="/surveys/add" class="btn btn-outline-success w-100">
                    <i class="fa fa-md fa-plus"></i> Add to Survey</a>
                <a href="/surveys" class="btn btn-outline-info w-100">
                    <i class="fa fa-md fa-eye"></i> View Surveys</a>
            </div>
        </div>
    </div>
    <!-- </form> -->

    <% include ./partials/footer %>