<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
</head>
<body>

<form method = "post" > 
	<input type="text" size="30" placeholder="Enter your first name:" name="firstName"><br />
	<input type="text" size="30" placeholder="Enter your last name:" name="lastName"><br />
	<input type="text" size="30" placeholder="Enter your email:" name="email"><br />
	<input type="text" size="30" placeholder="Enter your user name:" name="username"><br />
	<input type="password" size="30" placeholder="Enter your password:" name="password"><br />

	<button type="submit" > Submit </button></form>

</body>
</html>
