<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
</head>
<body>
<img src="img/nodejs_logo.png" alt="Logo">
<h1><%= title %></h1>

<form method = "post">

	<input type="text" size="30" placeholder="Enter your user name" name="username"><br />
	<input type="password" size="30" placeholder="Enter your password" name="password"><br />
	<input type="submit" value="Submit" name="submit">

</form>

</body>

</html>
