<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Login View</title>

	  <link rel="stylesheet" href="css/viewstyles.css">

</head>
<body>

<form id="loginForm" method = "post">
<p> <%= loginMessage %></p>
<div class="div_container">
    <input type="text" placeholder="Enter Username" name="uname" required>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    
  </div> 


</form>

</body>
</html>