<% include ./partials/header.ejs %>


<!-- Content Area -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <h1>
          <%= title %>
        </h1>
        <p>Welcome to
          <%= title %>
        </p>
      </div>
    </div>
  </div>

  <% include ./partials/footer.ejs %>
