<!-- 
 
    @file        footer.ejs
    @description footer partial view...
    @author      Kevin Ma
    @date        2018.03.07

  -->

</div>
<!-- end card body div -->
<div class="card-footer text-muted text-center">
    <small>
        &copy; 2018 Created by: Kevin Ma (Student #: 300867968)
    </small>
</div>
<!-- end card footer div -->
</div>
<!-- end card div -->
</div>
<!-- end container div -->

<!-- JavaScript Section -->
<!-- 2018.03.07 - 18:40:13: Removed CDN, using npm loaded modules instead -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>