<!-- 
 
    @file        actionresult.ejs
    @description this component is used to dispaly the results of certain actions:
                -authentication
                -sign up
                -submission of feedback
                -etc.
    @author      Kevin Ma
    @date        2018.03.06

  -->

<% include ./partials/header %>

    <div class="row">
        <div class="offset-2 col-8">
            <p>
                <%= result %>
            </p>
            <p>
                <%= content %>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4 offset-4">
            <div class="btn-group d-flex">
                <a href="/" class="btn btn-outline-info w-100">Return to Home</a>
            </div>
        </div>
    </div>

    <% include ./partials/footer %>