<% include ./partials/header %>

    <form method="post">
        <!-- firstName -->
        <div class="form-group row">
            <div class="col-4 text-right">
                <label>First Name:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="John" required name="firstName">
            </div>
        </div>

        <!-- lastName -->
        <div class="form-group row">
            <div class="col-4 text-right">
                <label>Last Name:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Doe" required name="lastName">
            </div>
        </div>

        <!-- email -->
        <div class="form-group row">
            <div class="col-4 text-right">
                <label>Email:</label>
            </div>
            <div class="col-md-5">
                <input type="email" class="form-control" placeholder="jdoe@my.centennialcollege.ca" required name="email">
            </div>
        </div>

        <!-- password -->
        <div class="form-group row">
            <div class="col-4 text-right">
                <label>Password:</label>
            </div>
            <div class="col-md-5">
                <input type="password" class="form-control" name="password" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 text-right">
                <label>Confirm Password:</label>
            </div>
            <div class="col-md-5">
                <input type="password" class="form-control" name="confirmPassword" required>
            </div>
        </div>

        <!-- age -->
        <div class="form-group row">
            <div class="col-4 text-right">
                <label>Age:</label>
            </div>
            <div class="col-md-5">
                <input type="number" class="form-control" name="age" placeholder="12" required>
            </div>
        </div>

        <!-- program -->
        <div class="form-group row">
            <div class="col-4 text-right">
                <label>Program of Study:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" name="program" required placeholder="Software Engineering Technology">
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-4">
                <div class="btn-group d-flex">
                    <button type="submit" class="btn btn-outline-success w-100">Sign Up</button>
                    <!-- this link is made to look like a button, will redirect to /signup with a GET request, can handle this in our routes.js-->
                    <a href="/" class="btn btn-outline-info w-100">Back</a>
                </div>
            </div>
        </div>
    </form>

    <% include ./partials/footer %>