<!DOCTYPE html>
<html>
<head>
	<!-- Use the 'title' property to render a page title  -->
	<title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/addstyle.css" />

</head>
<body>
  	<!-- Display flash messages  -->
	<% for(var i in messages) { %>
	   <div class="flash"><%= messages[i] %></div>
	<% } %>

	<!-- Render the signup form  -->
    <form action="/signup" method="post">
        <div class="outer_container">
            <h2> Sign Up as User</h2>

            <div class="container">
                <label>First Name</label>
                <input type="text" name="firstName" />
            </div>
            <div class="container">
                <label>Last Name</label>
                <input type="text" name="lastName" />
            </div>
            <div class="container">
                <label>Email</label>
                <input type="text" name="email" />
            </div>
            <div class="container">
                <label>Username</label>
                <input type="text" name="username" />
            </div>
            <div class="container">
                <label>Password</label>
                <input type="password" name="password" />
            </div>
            <div class="container">
                <input type="submit" value="Sign up" />
            </div>
        </div>
        <div class="container">
            <table>
                <tr>
                    <!-- Render the OAuth authentication links  -->
                    <td><a href="/oauth/facebook">Sign in with Facebook</a></td>
                </tr>
                <tr>
                    <td><a href="/oauth/twitter">Sign in with Twitter</a></td>
                </tr>
                <tr>
                    <td><a href="/oauth/google">Sign in with Google</a></td>
                </tr>
            </table>
        </div>

    </form>
    
</body>
</html>