<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Course Page </title>
</head>
<body>
<h1> This is Course Page. </h1>
<h1> You came here from <%= pageName %> </h1>


</body>
</html>